@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a><b>College Pension Plan</b> Investment Performance and Risk Data as at 2 January 2025</a>
            <!--<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>-->
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
