@page "/invoice"
@using SqliteWasmHelper
@using blazor_bi.Data
@inject ISqliteWasmDbContextFactory<ThingContext> Factory
@inject HttpClient Http

<PageTitle>Invoice</PageTitle>

<h3>Invoice</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        int id = 3;

        try {
            using var ctx = await Factory.CreateDbContextAsync();
            ctx.Test();
            //var invoices = ctx.Things;
            //Console.WriteLine(invoices.First().Id.ToString());
            //ctx.Things.Add(new Thing { Id = 1, Name = "newThing" });
            //await ctx.SaveChangesAsync();


            //var stream = await Http.GetStreamAsync("sample-data/chinook.xml");
            //new Microsoft.Data.Sqlite.SqliteBlob()
            using (var connection = new Microsoft.Data.Sqlite.SqliteConnection("Data Source=chinook.db"))
            {
                await connection.OpenAsync();

                var command = connection.CreateCommand();
                command.CommandText = @"SELECT count(*) as Result from invoices";
                //command.CommandText = @"SELECT name FROM sqlite_master WHERE type='table'";
                //command.Parameters.AddWithValue("$id", id);

                using (var reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        //var name = reader.GetString(1);
                        var count = reader.GetInt16(0);

                        Console.WriteLine($"Hello, {count}!");
                    }
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
}
